﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Webtest._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        kod kontrahenta:
        <asp:TextBox ID="uxKntKod" runat="server"></asp:TextBox>
        <br />
        nr faktury :
        <asp:TextBox ID="uxFaNr" runat="server" ></asp:TextBox>
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" onclick="Button1_Click" 
            Text="Dodaj fakture" />
        <br />
        <br />
        Wynik operacji:<br />
        <asp:Literal ID="uxResultText" runat="server"></asp:Literal>
        <br />
    </div>
    </form>
</body>
</html>
